<template>
  <li :class="{'is-opened': 'isOopened' }">
      <span class="title">
        <img :src="iconFolder" @click="toggle" alt="" width="24" height="24">
        <span :class="{ 'is-selected': isSelected }" @click="toggleSelect">{{ item.title }}&nbsp;({{ hasItems ? item.items.length : '0' }})</span>
      </span>
      <ul v-if="hasItems" v-show="isOpened">
        <tree-item
          v-for="child in item.items"
          :key="child.id"
          :item="child"
          @remove="$emit('remove', $event)"
          @add="$emit('add', $event)"
        />
      </ul>
  </li>
</template>

<script>
export default {
  name: 'TreeItem',
  props: {
    item: Object,
  },
  emits: ['add', 'remove'],
  data() {
    return {
      isOpened: false,
      isSelected: false,
    }
  },
  computed: {
    hasItems() {
      return this.item.items && this.item.items.length;
    },
    iconFolder() {
      return require(`../assets/folder-${this.isOpened ? 'open-' : ''}thin.svg`);
    }
  },
  methods: {
    toggle() {
      this.isOpened = !this.isOpened;
    },
    toggleSelect() {
      this.isSelected = !this.isSelected;
      if (this.isSelected) {
        this.$emit('add', this.item.id);
      } else {
        this.$emit('remove', this.item.id);
      }
    }
  }
}
</script>

<style scoped>
li {
  text-align: left;
  user-select: none;
}

li:not(:last-child),
.title:not(:last-child) {
  margin-bottom: .5em;
}

img {
  margin-right: .5em;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.is-selected {
  color: rgb(156, 30, 30);
}

</style>
