<template>
  <div class="backdrop" @click="$emit('close')"></div>
  <dialog open>
    <header>
      <slot name="title">
        <h2>{{ title }}</h2>
      </slot>
    </header>
    <section>
      <ul>
        <tree-item :item="tree" @remove="removeSelect" @add="addSelect"></tree-item>
      </ul>
    </section>
    <footer>
      <button class="primary" v-if="selected.size" @click="$emit('selected', selected)">Ок</button>
      <button @click="$emit('close')">Закрыть</button>
    </footer>
  </dialog>
</template>

<script>
export default {
  name: 'TreeDialog',
  props: {
    title: String,
  },
  emits: ['close', 'selected'],
  data() {
    return {
      selected: new Set(),
      tree: {
        id: 1,
        title: 'first',
        items: [
          {
            id: 2,
            title: 'second',
            items: [
              {
                id: 3,
                title: 'third',
              }
            ]
          },
          {
            id: 4,
            title: 'fourth',
            items: [
              {
                id: 5,
                title: 'fifth',
                items: [
                  {
                    id: 6,
                    title: 'sixth',
                  },
                  {
                    id: 7,
                    title: 'seventh',
                  },
                ]
              },
            ]
          },
        ]
      },
    }
  },
  methods: {
    removeSelect(id) {
      this.selected.delete(id);
    },
    addSelect(id) {
      this.selected.add(id);
    }
  }
}
</script>

<style scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, .75);
}

header {
  flex: none;
}

dialog {
  position: absolute;
  top: 40px;

  margin-left: auto;
  margin-right: auto;

  padding: 20px;

  display: flex;
  flex-direction: column;

  width: 800px;
  height: 600px;

  max-width: 280px;
  max-height: calc(100vh - 120px);

  border: none;
}

section {
  flex: auto;
}

footer {
  flex: none;
  display: flex;
  justify-content: flex-end;
}

.primary {
  color: rgb(117, 153, 63);
}

button:not(:last-child) {
  margin-right: .5em;
}

</style>
