<template>
  <button class="main-button" type="button" @click="open" :disabled="isOpened">Открыть</button>
  <tree-dialog v-if="isOpened" title="Дерево папок" @close="close" @selected="selectedFoldersId"></tree-dialog>
  <p>{{ text }}</p>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      isOpened: false,
      selectedFolders: [],
    }
  },
  computed: {
    text() {
      if (this.selectedFolders.length) {
        return this.selectedFolders.reduce(function(acc, curr, index) {
          if (index) {
            acc += ', ';
          }
          return acc += curr;
        }, 'Выбранные папки, id: ');
      }
      return '';
    }
  },
  methods: {
    open() {
      this.isOpened = true;
      this.selectedFolders = [];
    },
    close() {
      this.isOpened = false;
    },
    selectedFoldersId(idSet) {
      this.selectedFolders = Array.from(idSet);
      this.close();
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

ul {
  padding: 0;
  list-style: none;
}

li > ul {
  padding-left: 20px;
}

button {
  margin: 0;
  padding: calc(.375em - 1px) .75em;

  display: flex;
  justify-content: center;
  text-align: center;

  color: inherit;
  font-size: 16px;
  background: none;
  border: 1px solid currentColor;

  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.main-button {
  margin-left: auto;
  margin-right: auto;
}
</style>
